@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.2rem;
    position: relative;
}

main .ville {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.5rem;
}

main .ville i {
    font-size: 1.5rem;
}

.explorer{
    text-align: center;
}

.explorer h2{ 
    margin-top: 3rem;
}

.explorer button{
    color:white;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border:none;
    border-radius: 2rem;
    box-shadow: 2px 0px 10px -3px #000000;
    background-image: linear-gradient(to top, rgb(147, 86, 220, 0.9), rgb(255, 121, 218 , 0.9));
    transition: transform 200ms;
    margin-top: 1rem;
}

.explorer button:hover{
    transform: scale(1.02); 
    box-shadow: 2px 0px 16px -3px #000000;
}

.tuto h2{
    padding: 2rem;
}
.tuto ol{
    display: flex;
    gap: 2rem;
    padding: 0rem 2rem 2rem 2rem;
}
@media (min-width:320px) and (max-width:767px){
    .tuto ol{
    flex-direction: column;
    }
}
@media (min-width:768px) and (max-width:992px){
    .tuto ol{
        flex-direction: column;
    }
}

.tuto{
    counter-reset: steps;
}
.tuto li{
    position: relative;
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem ;
    box-shadow: 2px 0px 8px -3px #000000;
}
.tuto li::before{
    content: counter(steps);
    counter-increment: steps;
    color: white;
    background-color: rgb(147, 86, 220, 0.9);
    width: 1.5rem;
    height:1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -10px;
    position: absolute;
}

.tuto li:hover{
    transform: scale(1.02); 
}
.tuto li i{
    margin-right: 1rem;
    color: #7e7e7e;
    font-size: 1.5rem;
}

.tuto .fa-store{
    color: rgb(147, 86, 220, 0.9);
}

.menus{
    background-color: #f6f6f6;
}
.menus h2{
    padding: 3rem 0rem 0rem 2rem;
}
.menus .card{
    height: 4rem; 
    flex-grow: 1;
    min-width: 30rem;
}
.menus_cards{
    display:grid;
    grid-template-columns: repeat(2, 1fr );
    grid-gap: 3rem;
    padding: 2rem;
}
@media (min-width:320px) and (max-width:768px){
    .menus_cards{
        grid-template-columns: repeat(1, 1fr);
}
}

.card_image1{
    background-image: url("../../Bureau/ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    height: 15rem;
    background-size: cover;
}
.card_image2{
    background-image: url("../../Bureau/ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    height: 15rem;
    background-size: cover;
}
.card_image3{
    background-image: url("../../Bureau/ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 15rem;
    background-size: cover;
}
.card_image4{
    background-image: url("../../Bureau/ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    height: 15rem;
    background-size: cover;
}