@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
header .arrowindex {
    position: absolute;
    left: 3%;
    top: 35%;
    font-size: 20px;
    z-index: 5;
}
.fa-arrow-left{
    font-size:25px;
}
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.2rem;
    position: relative;
}
a{
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}
main h2{
    font-family:"Shrikhand", "sans-serif" ;
    margin-left: 1rem;
    padding-top: 2rem;
}
.heart--absolute {
    position: absolute;
    margin-top: -3rem;
    right: 50px;
    font-size: 24px;
    font-weight: 100;
}
.heart--absolute:hover {
    animation: heart 800ms ease forwards;
    cursor: pointer;
}
@keyframes heart {
    0% {
    font-weight: 800;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
    }
    100% {
    font-weight: 800;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
main .menucontainer {
    background-color: #e3e3e3;
    padding-bottom: 3%;
    margin-top: -4rem;
    position: relative;
    border-radius: 2rem 2rem 0px 0px;
}
.menus-grid{
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

.menus_category{
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 7px 7px 8px #cbcbcb;
    overflow: hidden;
    cursor:pointer;
    animation: appear 5s;
}
.menus-grid h3{
    border-bottom: 3px solid #99E2D0;
    text-transform: uppercase;
    font-weight: 400;
    padding-top : 1rem;
}
@media (min-width:1026px){
    .menus-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0rem 0rem 4rem 0rem;
    }
}
@media (max-width: 1025px){
    .menus-grid h3{
        width:45px;
        padding-top:50px;
        margin-bottom: -0.5rem;
    
    }
}
.menus_category h4{
    padding: 0 0.5rem;
    margin: 0;
}
.overflow 
{   
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.resto{
    padding: 0rem 1rem 1rem 1rem;
    background-color: #e3e3e3;
}
.menu-item{
    display:flex;
    align-items: center;
    padding:0rem;
}

.menu-item_description p{
    padding:0 0.5rem;
    margin:0;
}
.menu-item_description{
    margin-bottom: 0.5rem;
    margin-top:0.5rem;
}
.menu-item_price{
    margin-left: auto;
    margin-bottom: inherit;
    font-weight:900;
    padding-right: 1.5rem;
}
.menu-item_check{
    background-color: #99E2D0;
    color:#ffffff;
    display:flex;
    justify-content: center;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    padding: 2rem;
    margin-top:-0.6rem;
    margin-right: -5.5rem;
    width:5.5rem;
    cursor:pointer;
    transition:margin-right 500ms;
}
.menu-item:hover > .menu-item_check{
    margin-right: 0rem;
}
.menu-item_check .fa-solid{
    font-size:1.8rem;
}
.menu-item:hover > .menu-item_check .fa-solid{
    transform: rotate(360deg);   
    transition: transform 1000ms;
}
@keyframes appear{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}
.commander button{
    color:white;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    border-radius: 2rem;
    box-shadow: 2px 0px 10px -3px #000000;
    background-image: linear-gradient(to top, rgb(147, 86, 220, 0.9), rgb(255, 121, 218 , 0.9));
    transition: transform 200ms;
    cursor: pointer;
}
.commander{
    display: flex;
    justify-content: center;
    background-color: #e3e3e3;
    padding:3rem;
}

.commander button:hover{
    transform: scale(1.02); 
    box-shadow: 2px 0px 16px -3px #000000;
}
footer{
    background-color: #353535;
    padding: 1rem 2rem;
    color: white;
}
footer h2{
    font-family: "Shrikhand";
    padding:1rem
}
footer p{
    padding:2px;
}
@media (min-width: 768px) {
    footer {
    text-align: center;
    }
}